<%- include('partials/head') -%>

  <body id="page-top">
    <div id="preloader">
      <center><img src="../uploads/imag_loader.gif" alt=""></center>
    </div>

    <div id="wrapper">


      <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-3"><a
            class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-0"><img class="rounded-circle" src="/img/dogs/logo.jpg" sizes="50">
            </div>
            <div class="sidebar-brand-text "></div>
    
          </a>
          <hr class="sidebar-divider my-3">
          <ul class="navbar-nav text-light" id="accordionSidebar"><span>
    
    
              <li class="nav-item" id="main_menu"><a class="nav-link" href="#">
                <!-- <i class="far fa-user-circle"></i> -->
                <h4>Main menu</h4></a>
              </li>
              <li class="nav-item" id="user_table"><a class="nav-link" href="#">
                <!-- <i class="far fa-user-circle"></i> -->
                <h5>User table</h5></a>
              </li>
                <li class="nav-item" id="propperty_table"><a class="nav-link" href="#">
                  <!-- <i class="far fa-user-circle"></i> -->
                  <h5>Property table</h5></a>
                </li>
              



              <li class="nav-item" id="creat_user" ><a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal3" >
                <!-- <i class="far fa-user-circle"></i> -->
                <h5>CreatUser</h5></a>
              </li>
              <li class="nav-item" id="user_apv" ><a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                <!-- <i class="far fa-user-circle"></i> -->
                <h5>Pending user apv</h5></a>
              </li>
              <li class="nav-item" id="prop_apv" ><a class="nav-link" >
                <!-- <i class="far fa-user-circle"></i> -->
                <h5>Pending prop apv</h5></a>
              </li>

              <li class="nav-item" id="log_out"><a class="nav-link" href="logout">
                <!-- <i class="far fa-user-circle"></i> -->
                <h5>Logout</h5></a>
              </li>
    
    
          </ul>
    
          <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle"
              type="button"></button></div>
        </div>
      </nav>


      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">


          <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
            <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop"
                type="button"><i class="fas fa-bars"></i></button>
              <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group"><input class="bg-light form-control border-0 small" type="text"
                    placeholder="Search for ..."><button class="btn btn-primary py-0" type="button"
                    style="background: #d91442;"><i class="fas fa-search"></i></button></div>
    
              </form>
              <ul class="navbar-nav flex-nowrap ms-auto">
                <li class="nav-item dropdown no-arrow mx-1">
                  <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false"
                      data-bs-toggle="dropdown" href="#"><span
                        class="d-none d-lg-inline me-2 text-gray-600 small"></span></a></div>
                </li>
                <li class="nav-item dropdown no-arrow mx-1">
                  <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false"
                      data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">
                        <% if (existingUser.role===9012) { %>
                          <h2>Editer</h2>
                          <% } if (existingUser.role===9013) { %>
                            <h2>Sub-Editer</h2>
                            <% } if (existingUser.role===2017) { %>
                              <h2>Admin</h2>
                              <% } %>
                      </span></a></div>
                </li>
                <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false"
                    data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                  <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                    <form class="me-auto navbar-search w-100">
                      <div class="input-group"><input class="bg-light form-control border-0 small" type="text"
                          placeholder="Search for ...">
                        <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i
                              class="fas fa-search"></i></button></div>
    
                      </div>
                    </form>
                  </div>
                </li>
                <div class="d-none d-sm-block topbar-divider"></div>
                <li class="nav-item dropdown no-arrow mx-1">
                  <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false"
                      data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">
                        <%=pending_count%>
                      </span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path
                          d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                      </svg></a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                      <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center"
                        href="#">
                        <div class="me-3">
                          <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                        </div>
                        <div><span class="small text-gray-500">December 12, 2019</span>
                          <p>A new monthly report is ready to download!</p>
                        </div>
                      </a><a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="me-3">
                          <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                        </div>
                        <div><span class="small text-gray-500">December 7, 2019</span>
                          <p>$290.29 has been deposited into your account!</p>
                        </div>
                      </a><a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="me-3">
                          <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i>
                          </div>
                        </div>
                        <div><span class="small text-gray-500">December 2, 2019</span>
                          <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                        </div>
                      </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                    </div>
                  </div>
                </li>
                <div class="d-none d-sm-block topbar-divider"></div>
                <li class="nav-item dropdown no-arrow mx-1">
                  <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false"
                      data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">7</span><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-houses-fill" viewBox="0 0 16 16">
                        <path
                          d="M7.207 1a1 1 0 0 0-1.414 0L.146 6.646a.5.5 0 0 0 .708.708L1 7.207V12.5A1.5 1.5 0 0 0 2.5 14h.55a2.5 2.5 0 0 1-.05-.5V9.415a1.5 1.5 0 0 1-.56-2.475l5.353-5.354z" />
                        <path
                          d="M8.793 2a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708z" />
                      </svg></a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                      <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center"
                        href="#">
                        <div class="dropdown-list-image me-3"><img class="rounded-circle" src="/img/avatars/avatar4.jpeg">
                          <div class="bg-success status-indicator"></div>
                        </div>
                        <div class="fw-bold">
                          <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem
                              I've been having.</span></div>
                          <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                        </div>
                      </a><a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image me-3"><img class="rounded-circle" src="/img/avatars/avatar2.jpeg">
                          <div class="status-indicator"></div>
                        </div>
                        <div class="fw-bold">
                          <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                          <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                        </div>
                      </a><a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image me-3"><img class="rounded-circle" src="/img/avatars/avatar3.jpeg">
                          <div class="bg-warning status-indicator"></div>
                        </div>
                        <div class="fw-bold">
                          <div class="text-truncate"><span>Last month's report looks great, I am very happy with the
                              progress so far, keep up the good work!</span></div>
                          <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                        </div>
                      </a><a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image me-3"><img class="rounded-circle" src="/img/avatars/avatar5.jpeg">
                          <div class="bg-success status-indicator"></div>
                        </div>
                        <div class="fw-bold">
                          <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me
                              that people say this to all dogs, even if they aren't good...</span></div>
                          <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                        </div>
                      </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                    </div>
                  </div>
                  <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown">
                  </div>
                </li>
                <div class="d-none d-sm-block topbar-divider"></div>
                <li class="nav-item dropdown no-arrow">
                  <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false"
                      data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">
                        <%=existingUser.userFname %>
                          <%=existingUser.userLname %>
                      </span><img class="border rounded-circle img-profile" src="/img/avatars/avatar1.jpeg"></a>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                      <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                          class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a>
                      <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal2"><i
                          class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Change Password</a>
    
                      <div class="dropdown-divider"></div><a class="dropdown-item" href="logout"><i
                          class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                    </div>
                  </div>
                </li>
    
    
              </ul>
            </div>
          </nav>



          <!--dashbord start-->
          <div class="container-fluid" id='Dashboard_d' >
            <div class="d-sm-flex justify-content-between align-items-center mb-4">
              <h3 class="text-dark mb-0">Dashboard</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a>
          </div>
          <div class="row">
              <div class="col-md-6 col-xl-3 mb-4">
                  <div class="card shadow border-start-primary py-2">
                      <div class="card-body">
                          <div class="row align-items-center no-gutters">
                              <div class="col me-2">
                                  <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Earnings (monthly)</span></div>
                                  <div class="text-dark fw-bold h5 mb-0"><span>$40,000</span></div>
                              </div>
                              <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                  <div class="card shadow border-start-success py-2">
                      <div class="card-body">
                          <div class="row align-items-center no-gutters">
                              <div class="col me-2">
                                  <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Earnings (annual)</span></div>
                                  <div class="text-dark fw-bold h5 mb-0"><span>$215,000</span></div>
                              </div>
                              <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                  <div class="card shadow border-start-info py-2">
                      <div class="card-body">
                          <div class="row align-items-center no-gutters">
                              <div class="col me-2">
                                  <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>Tasks</span></div>
                                  <div class="row g-0 align-items-center">
                                      <div class="col-auto">
                                          <div class="text-dark fw-bold h5 mb-0 me-3"><span>50%</span></div>
                                      </div>
                                      <div class="col">
                                          <div class="progress progress-sm">
                                              <div class="progress-bar bg-info" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"><span class="visually-hidden">50%</span></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                  <div class="card shadow border-start-warning py-2">
                      <div class="card-body">
                          <div class="row align-items-center no-gutters">
                              <div class="col me-2">
                                  <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Pending Requests</span></div>
                                  <div class="text-dark fw-bold h5 mb-0"><span>18</span></div>
                              </div>
                              <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-7 col-xl-8">
                  <div class="card shadow mb-4">
                      <div class="card-header d-flex justify-content-between align-items-center">
                          <h6 class="text-primary fw-bold m-0">Earnings Overview</h6>
                          <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                              <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                  <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                  <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                              </div>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="chart-area"><canvas data-bss-chart="{&quot;type&quot;:&quot;line&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Jan&quot;,&quot;Feb&quot;,&quot;Mar&quot;,&quot;Apr&quot;,&quot;May&quot;,&quot;Jun&quot;,&quot;Jul&quot;,&quot;Aug&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Earnings&quot;,&quot;fill&quot;:true,&quot;data&quot;:[&quot;0&quot;,&quot;10000&quot;,&quot;5000&quot;,&quot;15000&quot;,&quot;10000&quot;,&quot;20000&quot;,&quot;15000&quot;,&quot;25000&quot;],&quot;backgroundColor&quot;:&quot;rgba(78, 115, 223, 0.05)&quot;,&quot;borderColor&quot;:&quot;rgba(78, 115, 223, 1)&quot;}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:false,&quot;labels&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;}},&quot;title&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;},&quot;scales&quot;:{&quot;xAxes&quot;:[{&quot;gridLines&quot;:{&quot;color&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;zeroLineColor&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;drawBorder&quot;:false,&quot;drawTicks&quot;:false,&quot;borderDash&quot;:[&quot;2&quot;],&quot;zeroLineBorderDash&quot;:[&quot;2&quot;],&quot;drawOnChartArea&quot;:false},&quot;ticks&quot;:{&quot;fontColor&quot;:&quot;#858796&quot;,&quot;fontStyle&quot;:&quot;normal&quot;,&quot;padding&quot;:20}}],&quot;yAxes&quot;:[{&quot;gridLines&quot;:{&quot;color&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;zeroLineColor&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;drawBorder&quot;:false,&quot;drawTicks&quot;:false,&quot;borderDash&quot;:[&quot;2&quot;],&quot;zeroLineBorderDash&quot;:[&quot;2&quot;]},&quot;ticks&quot;:{&quot;fontColor&quot;:&quot;#858796&quot;,&quot;fontStyle&quot;:&quot;normal&quot;,&quot;padding&quot;:20}}]}}}"></canvas></div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-5 col-xl-4">
                  <div class="card shadow mb-4">
                      <div class="card-header d-flex justify-content-between align-items-center">
                          <h6 class="text-primary fw-bold m-0">Revenue Sources</h6>
                          <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                              <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                  <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                  <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                              </div>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="chart-area"><canvas data-bss-chart="{&quot;type&quot;:&quot;doughnut&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Direct&quot;,&quot;Social&quot;,&quot;Referral&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;&quot;,&quot;backgroundColor&quot;:[&quot;#4e73df&quot;,&quot;#1cc88a&quot;,&quot;#36b9cc&quot;],&quot;borderColor&quot;:[&quot;#ffffff&quot;,&quot;#ffffff&quot;,&quot;#ffffff&quot;],&quot;data&quot;:[&quot;50&quot;,&quot;30&quot;,&quot;15&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:false,&quot;labels&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;}},&quot;title&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;}}}"></canvas></div>
                          <div class="text-center small mt-4"><span class="me-2"><i class="fas fa-circle text-primary"></i>&nbsp;Direct</span><span class="me-2"><i class="fas fa-circle text-success"></i>&nbsp;Social</span><span class="me-2"><i class="fas fa-circle text-info"></i>&nbsp;Refferal</span></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6 mb-4">
                  <div class="card shadow mb-4">
                      <div class="card-header py-3">
                          <h6 class="text-primary fw-bold m-0">Projects</h6>
                      </div>
                      <div class="card-body">
                          <h4 class="small fw-bold">Server migration<span class="float-end">20%</span></h4>
                          <div class="progress mb-4">
                              <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="visually-hidden">20%</span></div>
                          </div>
                          <h4 class="small fw-bold">Sales tracking<span class="float-end">40%</span></h4>
                          <div class="progress mb-4">
                              <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="visually-hidden">40%</span></div>
                          </div>
                          <h4 class="small fw-bold">Customer Database<span class="float-end">60%</span></h4>
                          <div class="progress mb-4">
                              <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="visually-hidden">60%</span></div>
                          </div>
                          <h4 class="small fw-bold">Payout Details<span class="float-end">80%</span></h4>
                          <div class="progress mb-4">
                              <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="visually-hidden">80%</span></div>
                          </div>
                          <h4 class="small fw-bold">Account setup<span class="float-end">Complete!</span></h4>
                          <div class="progress mb-4">
                              <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                          </div>
                      </div>
                  </div>
                  <div class="card shadow mb-4">
                      <div class="card-header py-3">
                          <h6 class="text-primary fw-bold m-0">Todo List</h6>
                      </div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div class="row align-items-center no-gutters">
                                  <div class="col me-2">
                                      <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span class="text-xs">10:30 AM</span>
                                  </div>
                                  <div class="col-auto">
                                      <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"></label></div>
                                  </div>
                              </div>
                          </li>
                          <li class="list-group-item">
                              <div class="row align-items-center no-gutters">
                                  <div class="col me-2">
                                      <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span class="text-xs">11:30 AM</span>
                                  </div>
                                  <div class="col-auto">
                                      <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2"></label></div>
                                  </div>
                              </div>
                          </li>
                          <li class="list-group-item">
                              <div class="row align-items-center no-gutters">
                                  <div class="col me-2">
                                      <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span class="text-xs">12:30 AM</span>
                                  </div>
                                  <div class="col-auto">
                                      <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3"></label></div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col">
                  <div class="row">
                      <div class="col-lg-6 mb-4">
                          <div class="card text-white bg-primary shadow">
                              <div class="card-body">
                                  <p class="m-0">Primary</p>
                                  <p class="text-white-50 small m-0">#4e73df</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 mb-4">
                          <div class="card text-white bg-success shadow">
                              <div class="card-body">
                                  <p class="m-0">Success</p>
                                  <p class="text-white-50 small m-0">#1cc88a</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 mb-4">
                          <div class="card text-white bg-info shadow">
                              <div class="card-body">
                                  <p class="m-0">Info</p>
                                  <p class="text-white-50 small m-0">#36b9cc</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 mb-4">
                          <div class="card text-white bg-warning shadow">
                              <div class="card-body">
                                  <p class="m-0">Warning</p>
                                  <p class="text-white-50 small m-0">#f6c23e</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 mb-4">
                          <div class="card text-white bg-danger shadow">
                              <div class="card-body">
                                  <p class="m-0">Danger</p>
                                  <p class="text-white-50 small m-0">#e74a3b</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 mb-4">
                          <div class="card text-white bg-secondary shadow">
                              <div class="card-body">
                                  <p class="m-0">Secondary</p>
                                  <p class="text-white-50 small m-0">#858796</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          <!--dashbord end-->




          <!---start user table-->
          <% if (existingUser.role==2017 || existingUser.role==9012) { %>
            <div class="container-fluid" id='userinfo' >
              <!---start modals-->
           <!-- modal1 -->
           <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog">
               <div class="modal-content">
                 <div class="modal-header">
                   <h1 class="modal-title fs-5" id="exampleModalLabel">User Profile</h1>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                 <div class="modal-body">
                   <form>
                     <div class="mb-3">
                       <label for="recipient-name" class="col-form-label">First name</label>
                       <input type="text" class="form-control" id="recipient-name" value="<%=existingUser.userFname %>"
                         disabled>
                     </div>
                     <div class="mb-3">
                       <label for="recipient-name" class="col-form-label">Last name</label>
                       <input type="text" class="form-control" id="recipient-name" value="<%=existingUser.userLname %>"
                         disabled>
                     </div>
                     <div class="mb-3">
                       <label for="recipient-name" class="col-form-label">Phone no</label>
                       <input type="text" class="form-control" id="recipient-name" value="<%=existingUser.Phone %>" disabled>
                     </div>
                     <div class="mb-3">
                       <label for="recipient-name" class="col-form-label">Email</label>
                       <input type="text" class="form-control" id="recipient-name" value="<%=existingUser.email %>" disabled>
                     </div>
                     <div class="mb-3">
                       <label for="recipient-name" class="col-form-label">Role</label>
                       <input type="text" class="form-control" id=""
                         value="<% if (existingUser.role===9012) { %>Editer<% } else { %>Admin<% } %>" disabled>
                     </div>
     
                   </form>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                 </div>
               </div>
             </div>
           </div>
           <!-- modal2 -->
           <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog">
               <div class="modal-content">
                 <div class="modal-header">
                   <h1 class="modal-title fs-5" id="exampleModalLabel2">Change password</h1>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                 <div class="modal-body">
                   <form>
                     <div class="mb-3">
                       <label for="recipient-name" class="col-form-label">Current password</label>
                       <input type="text" class="form-control" id="recipient-name">
                     </div>
                     <div class="mb-3">
                       <label for="recipient-name" class="col-form-label">New password</label>
                       <input type="text" class="form-control" id="recipient-name">
                     </div>
     
                   </form>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-primary" id="myButton2">Change password</button>
                 </div>
               </div>
             </div>
           </div>
           <!--modal3-->
           <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog">
               <div class="modal-content">
                 <div class="modal-header">
                   <h1 class="modal-title fs-5" id="exampleModalLabel2">CreatUser</h1>
     
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                 <div class="modal-body">
                   <form id=creat_use>
                     <div class="mb-3">
                       <label for="recipient-name" class="col-form-label">User firstname</label>
                       <input type="text" class="form-control" id="" name="first_name">
                     </div>
                     <div class="mb-3">
                       <label for="recipient-name" class="col-form-label">User lastname</label>
                       <input type="text" class="form-control" id="" name="last_name">
                     </div>
                     <div class="mb-3">
                       <label for="recipient-name" class="col-form-label">Phone No</label>
                       <input type="text" class="form-control" id="" name="phone">
                     </div>
                     <div class="mb-3">
                       <label for="recipient-name" class="col-form-label">Email</label>
                       <input type="text" class="form-control" id="" name="email">
                     </div>
                     <div class="mb-3">
                       <input type="text" class="form-control" id="" name="createdBy"
                         value="<%=existingUser.userFname %>_<%=existingUser.userLname %>" hidden>
                     </div>
     
                     <div class="mb-3">
                       <label for="recipient-name" class="col-form-label">User Role</label>
                       <select class="form-select form-select-sm" name="role">
     
                         <% if (existingUser.role==2017) { %>
                           <option value="9012">Editer</option>
                           <% }%>
                             <option value="9013">Sub editer</option>
                             <option value="7210">Fo</option>
                             <option value="2346">Agent</option>
                             <option value="1298">owner</option>
                             <option value="1714" selected>user</option>
                       </select>
                     </div>
     
     
     
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                   <button type="submit" class="btn btn-primary">Submint</button>
                 </div>
                 </form>
               </div>
             </div>
           </div>
           <!---End modals-->
     
             <h1>user</h1>
             <div class="mb-3"><%- include('partials/messages') -%></div>
             <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
               <thead>
                 <tr>
     
                   <th>Id</th>
                   <th>First Name</th>
                   <th>Last Name</th>
                   <th>email</th>
                   <th>phone</th>
                   <th>Property</th>
                   <th>Role</th>
                   <th>Status</th>
                   <th>createdBy</th>
                   <th>approved_by</th>
                 </tr>
               </thead>
               <tfoot>
                 <tr>
                   <th>Id</th>
                   <th>First Name</th>
                   <th>Last Name</th>
                   <th>email</th>
                   <th>phone</th>
                   <th>Property</th>
                   <th>Role</th>
                   <th>Status</th>
                   <th>createdBy</th>
                   <th>approved_by</th>
                 </tr>
               </tfoot>
               <tbody>
                 <%let i=4%>
                   <% alluser.forEach((alluser)=> { %>
                    <%                   
                     ++i
                     i
                     %>
                     <%=i%>
                     
 
                    
                         <!--edit_form_start-->
                         <div class="modal fade" id="exampleModala<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel"
                           aria-hidden="true">
                           <div class="modal-dialog">
                             <div class="modal-content">
                               <div class="modal-header">
                                 <h1 class="modal-title fs-5">Edituu_User</h1>
     
                                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                               </div>
                               <div class="modal-body">
                                 <form action="/useredit/<%= alluser.id %>?_method=PUT" method="POST">
                                   <input type="hidden" name="_method" value="PUT">
                                   <div class="mb-3">
                                     <input type="text" class="form-control" id="" name="id" value="<%=alluser.id %>" >
                                     <label for="recipient-name" class="col-form-label">User firstname</label>
                                     <input type="text" class="form-control" id="" name="first_name"
                                       value="<%=alluser.userFname %>">
                                   </div>
                                   <div class="mb-3">
                                     <label for="recipient-name" class="col-form-label">User lastname</label>
                                     <input type="text" class="form-control" id="" name="last_name"
                                       value="<%=alluser.userLname %>">
                                   </div>
                                   <div class="mb-3">
                                     <label for="recipient-name" class="col-form-label">Phone No</label>
                                     <input type="text" class="form-control" id="" name="phone" value="<%=alluser.Phone %>">
                                   </div>
                                   <div class="mb-3">
                                     <label for="recipient-name" class="col-form-label">Email</label>
                                     <input type="text" class="form-control" id="" name="email" value="<%=alluser.email %>">
                                   </div>
                                   <div class="mb-3">
                                     <label for="recipient-name" class="col-form-label">createdBy</label>
                                     <input type="text" class="form-control" id="" name="createdBy"
                                       value="<%=alluser.createdBy %>" disabled>
                                   </div>
                                   <div class="mb-3">
                                     <label for="recipient-name" class="col-form-label">Approved_by</label>
                                     <input type="text" class="form-control" id="" name="createdBy"
                                       value="<%=alluser.approved_by %>" disabled>
                                   </div>
     
                                   <div class="mb-3">
                                     <label for="recipient-name" class="col-form-label">Role</label>
                                     <input type="text" class="form-control" id="" name="role"
                                       value="<% if (alluser.role==1714) { %>User<% }%><% if (alluser.role==1298) { %>owner<% }%><% if (alluser.role==2346) { %>Agent<% }%><% if (alluser.role==7210) { %>F.O<% }%><% if (alluser.role==9012) { %>Editer<% }%><% if (alluser.role==2017) { %>Admin<% }%>"
                                       disabled>
     
                                   </div>
     
     
     
     
     
                               </div>
                               <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                 <button type="submit" class="btn btn-primary">Submint</button>
                               </div>
                               </form>
                             </div>
                           </div>
                         </div>
                         <!--edit_form_end-->
     
     
                         <tr>
                           <td>
                             <%= alluser.id %>
                           </td>
                           <td>
                             <%= alluser.userFname %>
                           </td>
                           <td>
                             <%= alluser.userLname %>
                           </td>
                           <td>
                             <%= alluser.email %>
                           </td>
                           <td>
                             <%= alluser.Phone %>
                           </td>
                           <td><a class="btn btn-warning" onclick="Property_butten('<%= alluser.id %>')" <% if
                               (alluser.role==2017 || alluser.role==7210 || alluser.role==1714) { %>hidden<% }%>
                                 >Property&nbsp;(<%=pending_count%>)</a></td>
                           <td>
                             <% if (alluser.role==2017) { %>Admin<% }%>
                                 <% if (alluser.role==9012) { %>Editer<% }%>
                                   <% if (alluser.role==9013) { %>Sub_Editer<% }%>
                                     <% if (alluser.role==7210) { %>F.O<% }%>
                                         <% if (alluser.role==2346) { %>Agent<% }%>
                                             <% if (alluser.role==1298) { %>owner<% }%>
                                                 <% if (alluser.role==1714) { %>User<% }%>
                           </td>
     
                           <td>
                             <% if (alluser.status=="pending" ) { %><a span style="color:red;" <% if
                                 (existingUser.role==2017) { %>
                                 href= '#' onclick="approving_user('<%= alluser.id %>','<%=existingUser.userFname %>')"<% }%>>Pending</span></a>
                               <% }else { %> <span style="color:Green;">Approved</span>
                                 <% } %>
                           </td>
                           <td>
                             <%= alluser.createdBy %>
                           </td>
                           <td>
                             <%= alluser.approved_by %>
                           </td>
                           <td> <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModala<%=i%>" <% if
                               (existingUser.role!=2017) { %>hidden<% }%>
                                 <% if (alluser.id==existingUser.id) { %>hidden<% }else { %> "" <% } %>>EDIT</a>
                             <a class="btn btn-danger" <% if (existingUser.role!=2017) { %>hidden<% }%>
                                 onclick="delete_user('<%= alluser.id %>')" <% if (alluser.id==existingUser.id) { %>
                                     hidden<% }else { %> "" <% } %>>DELETE</a>
                           </td>
                         </tr>
                         
                         <% }) %>
     
     
               </tbody>
             </table>
           </div>
           
            <%} else { %>
            <p> Sub_editer </p>
            <% } %>         
          
          <!---end user table-->






           <!---start property table-->         
           <div class="container-fluid" id='propperty_table_main' >
 
   
           <h1>Propperty_Table</h1>
           <div class="mb-3"><%- include('partials/messages') -%></div>
           <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
             <thead>
               <tr>
   
                 <th>Image</th>
                 <th>prop_apnt_id</th>
                 <th>Titel</th>
                 <th>Approved By</th>
                 <th>Status</th>
                 <th>Live</th>
                 
               </tr>
             </thead>
             <tfoot>
               <tr>
                <th>Image</th>
                 <th>prop_apnt_id</th>
                 <th>Title</th>
                 <th>Approved By</th>
                 <th>Status</th>
                 <th>Live</th>
               </tr>
             </tfoot> 
             <tbody>
              <%let l=0%>
                 <% allprop.forEach((allprop)=> { %>
                  <%                   
                    ++l
                    l
                    %>
                    
                       <tr>
                        <td>
                          <% for (let i = 0; i < allprop.image.length; i++) { %>
                            <img src="<%= allprop.image[i].url %>" alt="Image <%= i %>" width="150" >
                        <% } %> 
                        <%= allprop.image.length%>
                        </td>
                         <td>
                           APNTL.<%= allprop.atlprop_id %>
                         </td>
                         <td>
                         <% if(allprop.Bedrooms > 1) { %> <%=allprop.Bedrooms%> <% }%><% if(allprop.Bedrooms > 1) { %> BHK <% }%>  <%= allprop.prop_kind %>&nbsp;<%= allprop.prop_type %>&nbsp;<br>For rent,&nbsp;Rs<%= allprop.rent %> per month.
                         </td>
                        
                        
                        <td>
                          <%= allprop.approved_by %>
                        </td>
                        <td>
                          <%= allprop.status %>
                        </td>
                        <td>
                          <%= allprop.live %>
                        </td>
                      
                         <td>
                           <% if (allprop.status=="pending" ) { %><a span style="color:red;" <% if
                               (existingUser.role==2017) { %>
                               href= '#' onclick="approving_prop('<%= allprop.id %>','<%=existingUser.userFname %>')"<% }%>>Pending</span></a>
                             <% }else { %> <span style="color:Green;">Approved</span>
                               <% } %>
                         </td>
                       
                         <td> <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModala<%=l%>" <% if
                             (existingUser.role!=2017) { %>hidden<% }%>
                               <% if (alluser.id==existingUser.id) { %>hidden<% }else { %> "" <% } %>>EDIT</a>
                           <a class="btn btn-danger" <% if (existingUser.role!=2017) { %>hidden<% }%>
                               onclick="delete_user('<%= alluser.id %>')" <% if (alluser.id==existingUser.id) { %>
                                   hidden<% }else { %> "" <% } %>>DELETE</a>
                         </td>
                       </tr>
                       
                       <% }) %>
   
   
             </tbody>
           </table>
         </div>
         <!---end property table-->
          
    
    
    
          <!--property entry start-->
          <div class="row register-form" id='Enter_prop' >
            <div class="col-md-8 offset-md-2">
              <form class="custom-form" id="prop_form">
                <div class="mb-3">
                  <h3>What kind of property do have</h3>
    
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="kind_of_prop" id="Residential" value="Residential"
                      checked>
                    <label class="form-check-label" for="">
                      Residential
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="kind_of_prop" id="Commercial" value="Commercial">
                    <label class="form-check-label" for="">
                      Commercial
                    </label>
                  </div>
                </div>
                <hr>
                <div class="mb-3">
                  <h3> Property Type</h3>
    
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="prop_type" id="Flat_Apartment" value="Flat_Apartment"
                      checked onchange="handleChange(2)">
                    <label class="form-check-label" for="">
                      Flat/Apartment
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="prop_type" id="Independent_House_Villa"
                      value="Independent_House_Villa" onchange="handleChange(2)">
                    <label class="form-check-label" for="">
                      Independent House/Villa
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="prop_type" id="Independent House/Villa"
                      value="Independent House/Villa" onchange="handleChange(2)">
                    <label class="form-check-label" for="">
                      Studio Apartment
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="prop_type" id="prop_type" value="Serviced Apartment"
                      onchange="handleChange(2)">
                    <label class="form-check-label" for="">
                      Serviced Apartment
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="prop_type" id="prop_type" value="Shop"
                      onchange="handleChange(2)">
                    <label class="form-check-label" for="">
                      Shop
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="prop_type" id="prop_type" value="Show room"
                      onchange="handleChange(2)">
                    <label class="form-check-label" for="">
                      Show room
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="prop_type" id="prop_type" value="Hostel "
                      onchange="handleChange(2)">
                    <label class="form-check-label" for="">
                     Hostel
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="prop_type" id="prop_type" value="PG room"
                      onchange="handleChange(2)">
                    <label class="form-check-label" for="">
                    PG
                    </label>
                  </div>
    
    
                </div>
                <hr>
                <div class="mb-3">
                  <h3>Property Address</h3>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="House_no" name="House_no" placeholder="House no/Flat no"
                      value="">
                    <label for="">House no/Flat no</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="Society" placeholder="Society/Apartment Name" Name="Society"
                      value"">
                    <label for="">Society/Apartment Name</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="Locality" placeholder="Locality" name="Locality" value="">
                    <label for="">Locality</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="Pin_code" placeholder="Pin code" Name="Pin_code" value="">
                    <label for="">Pin code</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="City" placeholder="City" name="City" value="">
                    <label for="">City</label>
                  </div>
                  <div class="vl2"></div>
                  <h3>GPS Location</h3>
                  <div class="row">
                    <div class="col-md-3">
                      <input type="text" class="form-control" placeholder="Latitude" aria-label="Latitude" id="Latitude"
                        name="Latitude" value="">
    
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" placeholder="Longitude" aria-label="Longitude" id="Longitude"
                        Name="Longitude" value="">
                    </div>
                  </div>
    
                </div>
                <hr>
                <div class="vl2"></div>
                <h3>Tell us about your property</h3>
                <label class="col-md-4 control-label" for="radios"><i class="fa fa-bed"
                    style="font-size:36px"></i>&nbsp;&nbsp; No.of Bedrooms</label>
                <div class="col-md-8">
                  <input class="form-check-input" type="radio" name="Bedrooms" id="bedroom1" value="0">
                  <label class="form-check-label" for="">
                    0
                  </label>
                  <input class="form-check-input" type="radio" name="Bedrooms" id="bedroom1" value="1">
                  <label class="form-check-label" for="">
                    1
                  </label>
                  <input class="form-check-input" type="radio" name="Bedrooms" id="bedroom2" value="2" checked>
                  <label class="form-check-label" for="">
                    2
                  </label>
                  <input class="form-check-input" type="radio" name="Bedrooms" id="bedroom3" value="3">
                  <label class="form-check-label" for="">
                    3
                  </label>
                  <input class="form-check-input" type="radio" name="Bedrooms" id="bedroom4" value="4">
                  <label class="form-check-label" for="">
                    4
                  </label>
                  <input class="form-check-input" type="radio" name="Bedrooms" id="bedroom5" value="5">
                  <label class="form-check-label" for="">
                    5
                  </label>
                  <input class="form-check-input" type="radio" name="Bedrooms" id="bedroom6" value="5+">
                  <label class="form-check-label" for="">
                    5+
                  </label>
    
    
                </div>
                <br>
                <label class="col-md-4 control-label" for="radios"><i class='fas fa-toilet'
                    style='font-size:36px'></i>&nbsp;&nbsp;No.of Bathrooms</label>
                <div class="col-md-4">
                  <input class="form-check-input" type="radio" name="Bathrooms" id="Bathrooms1" value="0">
                  <label class="form-check-label" for="">
                    0
                  </label>
                  <input class="form-check-input" type="radio" name="Bathrooms" id="Bathrooms1" value="1">
                  <label class="form-check-label" for="">
                    1
                  </label>
                  <input class="form-check-input" type="radio" name="Bathrooms" id="Bathrooms2" value="2" checked>
                  <label class="form-check-label" for="">
                    2
                  </label>
                  <input class="form-check-input" type="radio" name="Bathrooms" id="Bathrooms3" value="3">
                  <label class="form-check-label" for="">
                    3
                  </label>
                  <input class="form-check-input" type="radio" name="Bathrooms" id="Bathrooms3p" value="3+">
                  <label class="form-check-label" for="">
                    3+
                  </label>
    
    
                </div>
                <br>
                <label class="col-md-4 control-label" for="radios"><i class='fas fa-ruler-horizontal'
                    style='font-size:36px'></i>&nbsp;&nbsp;No.of Balconies</label>
                <div class="col-md-4">
                  <input class="form-check-input" type="radio" name="Balconies" id="Balconies1" value="0">
                  <label class="form-check-label" for="">
                    0
                  </label>
                  <input class="form-check-input" type="radio" name="Balconies" id="Balconies1" value="1">
                  <label class="form-check-label" for="">
                    1
                  </label>
                  <input class="form-check-input" type="radio" name="Balconies" id="Balconies2" value="2" checked>
                  <label class="form-check-label" for="">
                    2
                  </label>
                  <input class="form-check-input" type="radio" name="Balconies" id="Balconies3" value="3">
                  <label class="form-check-label" for="">
                    3
                  </label>
                  <input class="form-check-input" type="radio" name="Balconies" id="Balconies4p" value="4+">
                  <label class="form-check-label" for="">
                    4+
                  </label>
                </div>
                <hr>
                <div class="vl2"></div>
                <h5>Add Bult-up Area/super Bult-up Area</h5>
                <div class="input-group " style="width: 50%;">
                  <input type="number" class="form-control" placeholder="Add Bult-up Area" aria-label="Add Bult-up Area"
                    aria-describedby="basic-addon2" Name="Bult_up_Area" value="" id="Bult_up_Area">
                  <span class="input-group-text">sq.ft</span>
                </div>
                <div class="vl2"></div>
                <hr>
                <h5>Rent per month</h5>
                <div class="input-group " style="width: 50%;">
                  <input type="number" class="form-control" placeholder="Rent per month" aria-label="Rent per month"
                    aria-describedby="basic-addon2" Name="rent" value="" id="rent">
                  <span class="input-group-text">Rs.</span>
                </div>
                <div class="vl2"></div>
                <hr>
                <h5>Other Rooms</h5>
    
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Pooja room" id="Other_Rooms" Name="Other_Rooms[]">
                  <label class="form-check-label" for="">
                    Pooja room
                  </label>
                </div>
                <div class="vl"></div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Study room" id="Other_Rooms" Name="Other_Rooms[]">
                  <label class="form-check-label" for="">
                    Study room
                  </label>
                </div>
                <div class="vl"></div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Store room" id="Other_Rooms" Name="Other_Rooms[]">
                  <label class="form-check-label" for="">
                    Store room
                  </label>
                </div>
                <div class="vl"></div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Servent Room" id="Other_Rooms"
                    Name="Other_Rooms[]">
                  <label class="form-check-label" for="">
                    Servent Room
                  </label>
                </div>
                <div class="vl"></div>
                <br>
                <hr>
                <div class="mb-3">
                  <h3>Furnishing</h3>
    
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="FullyFurnishrd" id="Furnishing"
                      value="Fully Furnishrd" onchange="furwnishing(2)">
                    <label class="form-check-label">
                      Fully Furnishrd
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="FullyFurnishrd" id="Furnishing"
                      value="Semi Furnishrd" onchange="furwnishing(2)">
                    <label class="form-check-label">
                      Semi Furnishrd
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="FullyFurnishrd" id="Furnishing" value=" Un Furnishrd"
                      checked onchange="furwnishing(4)">
                    <label class="form-check-label">
                      Un Furnishrd
                    </label>
                  </div>
                </div>
    
    
                <div class="card card-body col-md-4" id="furnishing" style="display: none;">
                  <h5>Select Item in furnishing or Semi Furnishing </h5>
    
                  <div class="form-check">
                    <input class="form-check-input furnishing" type="checkbox" value="TV" Name="furnishing_item[]" id="TV">
                    <label class="form-check-label" for="">
                      TV
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input furnishing" type="checkbox" value="AC" Name="furnishing_item[]" id="AC">
                    <label class="form-check-label" for="">
                      AC
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input furnishing" type="checkbox" value="FAN" Name="furnishing_item[]"
                      id="FAN">
                    <label class="form-check-label" for="">
                      FAN
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input furnishing" type="checkbox" value="LIGHT" Name="furnishing_item[]"
                      id="LIGHT">
                    <label class="form-check-label" for="">
                      LIGHT
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input furnishing" type="checkbox" value="WASHING MACHINE"
                      Name="furnishing_item[]" id="WASHING_MACHINE">
                    <label class="form-check-label" for="">
                      WASHING MACHINE
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="SOFA" Name="furnishing_item[]" id="SOFA">
                    <label class="form-check-label" for="">
                      SOFA
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input furnishing" type="checkbox" value="STOVE" Name="furnishing_item[]"
                      id="STOVE">
                    <label class="form-check-label" for="">
                      STOVE
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input furnishing" type="checkbox" value="WATER PURIFIER"
                      Name="furnishing_item[]" id="WATER_PURIFIER">
                    <label class="form-check-label" for="">
                      WATER PURIFIER
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input furnishing" type="checkbox" value="GEYSER" Name="furnishing_item[]"
                      id="GEYSER">
                    <label class="form-check-label" for="">
                      GEYSER
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input furnishing" type="checkbox" value="TV UNIT" Name="furnishing_item[]"
                      id="TV_UNIT">
                    <label class="form-check-label" for="">
                      TV UNIT
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input furnishing" type="checkbox" value="FRIGE" id="FRIGE"
                      Name="furnishing_item[]">
                    <label class="form-check-label" for="">
                      FRIGE
                    </label>
                  </div>
    
                  <div class="form-check">
                    <input class="form-check-input furnishing" type="checkbox" value="MICROWAVE" Name="furnishing_item[]"
                      id="MICROWAVE">
                    <label class="form-check-label" for="">
                      MICROWAVE
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input furnishing" type="checkbox" value="EXHAUST FAN" Name="furnishing_item[]"
                      id="EXHAUST_FAN">
                    <label class="form-check-label" for="">
                      EXHAUST FAN
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input furnishing" type="checkbox" value="CHIMNEY" id="CHIMNEY"
                      Name="furnishing_item[]">
                    <label class="form-check-label" for="">
                      CHIMNEY
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input furnishing" type="checkbox" value="DINNING TABLE"
                      Name="furnishing_item[]" id="DINNING_TABLE">
                    <label class="form-check-label" for="">
                      DINNING TABLE
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input furnishing" type="checkbox" value="MODULAR KITCHEN"
                      Name="furnishing_item[]" id="MODULAR_KITCHEN">
                    <label class="form-check-label" for="">
                      MODULAR KITCHEN
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input furnishing" type="checkbox" value="CURTAIN" Name="furnishing_item[]"
                      id="CURTAIN">
                    <label class="form-check-label" for="">
                      CURTAIN
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input furnishing" type="checkbox" value="WARDROBE" Name="furnishing_item[]"
                      id="WARDROBE">
                    <label class="form-check-label" for="">
                      WARDROBE
                    </label>
                  </div>
    
    
                </div>
                <br>
                <h3>Reserved parking</h3>
                <label class="col-md-8 control-label" for="radios"><i class='fas fa-taxi' style='font-size:36px'></i>
                  No.Covered parking</label>
                <div class="col-md-4">
                  <input class="form-check-input" type="radio" name="Covered_parking" id="Covered_parking0" value="0">
                  <label class="form-check-label" for="">
                    0
                  </label>
                  <input class="form-check-input" type="radio" name="Covered_parking" id="Covered_parking1" value="1"
                    checked>
                  <label class="form-check-label" for="">
                    1
                  </label>
                  <input class="form-check-input" type="radio" name="Covered_parking" id="Covered_parking2" value="2">
                  <label class="form-check-label" for="">
                    2
                  </label>
    
    
    
    
                </div>
                <label class="col-md-8 control-label" for="radios"><i class='fas fa-taxi' style='font-size:36px'></i>
                  No.Open parking</label>
                <div class="col-md-4">
                  <input class="form-check-input" type="radio" name="Open_parking" id="Open_parking" value="0" checked>
                  <label class="form-check-label" for="">
                    0
                  </label>
                  <input class="form-check-input" type="radio" name="Open_parking" id="Open_parking" value="1">
                  <label class="form-check-label" for="">
                    1
                  </label>
                  <input class="form-check-input" type="radio" name="Open_parking" id="Open_parking" value="2">
                  <label class="form-check-label" for="">
                    2
                  </label>
    
                </div>
                <div class="vl2"></div>
                <h3>Floor Details</h3>
                <div class="row">
                  <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="Total floor" aria-label="Total floor"
                      Name="Total_floor" id="Total_floor" value="">
                  </div>
                  <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="Property on floor" aria-label="Property on floor"
                      Name="Property on floor" id="Property_on_floor" value="">
                  </div>
                </div>
                <div class="vl2"></div>
                <h5>Maindoor Facing Direction</h5>
                <div class="col-md-6">
                  <input class="form-check-input" type="radio" name="Facing" id="Facing1" value="North" checked>
                  <label class="form-check-label" for="">
                    North
                  </label>
                  <input class="form-check-input" type="radio" name="Facing" id="Facing2" value="South">
                  <label class="form-check-label" for="">
                    South
                  </label>
                  <input class="form-check-input" type="radio" name="Facing" id="Facing3" value="East">
                  <label class="form-check-label" for="">
                    East
                  </label>
                  <input class="form-check-input" type="radio" name="Facing" id="Facing4" value="West">
                  <label class="form-check-label" for="">
                    West
                  </label>
                  <input class="form-check-input" type="radio" name="Facing" id="Facing1" value="North">
                  <label class="form-check-label" for="">
                    NE
                  </label>
                  <input class="form-check-input" type="radio" name="Facing" id="Facing2" value="South">
                  <label class="form-check-label" for="">
                    NW
                  </label>
                  <input class="form-check-input" type="radio" name="Facing" id="Facing3" value="East">
                  <label class="form-check-label" for="">
                    SW
                  </label>
                  <input class="form-check-input" type="radio" name="Facing" id="Facing4" value="West">
                  <label class="form-check-label" for="">
                    SE
                  </label>
    
                </div>
                <hr>
                <br>
                <h3>Amenities</h3>
                <div class="col-md-10">
                  <input class="form-check-input " type="checkbox" name="amenities[]" id="amentys" value="Swimming_pool">
                  <label class="form-check-label " for="">
                    Swimming pool
                  </label>
                  <div class="vl"></div>
                  <input class="form-check-input" type="checkbox" name="amenities[]" id="amentys" value="Power Backup">
                  <label class="form-check-label" for="">
                    Power Backup
                  </label>
                  <div class="vl"></div>
                  <input class="form-check-input" type="checkbox" name="amenities[]" id="amentys" value="CCTV">
                  <label class="form-check-label" for="">
                    CCTV
                  </label>
                  <div class="vl"></div>
                  <input class="form-check-input" type="checkbox" name="amenities[]" id="amentys" value="Clubhouse">
                  <label class="form-check-label" for="">
                    Clubhouse
                  </label>
                  <div class="vl"></div>
                  <input class="form-check-input" type="checkbox" name="amenities[]" id="amentys" value="Party room">
                  <label class="form-check-label" for="">
                    Party room
                  </label>
                  <div class="vl"></div>
                  <input class="form-check-input" type="checkbox" name="amenities[]" id="amentys" value="Games Room">
                  <label class="form-check-label" for="">
                    Games Room
                  </label>
                  <div class="vl"></div>
                  <input class="form-check-input" type="checkbox" name="amenities[]" id="amentys" value="Walking paths">
                  <label class="form-check-label" for="">
                    Walking paths
                  </label>
                  <div class="vl"></div>
                  <input class="form-check-input" type="checkbox" name="amenities[]" id="amentys" value="Gym">
                  <label class="form-check-label" for="">
                    Gym
                  </label>
    
                </div>
                <h3>Additional info</h3>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Add_info" id="Add_info" onchange="handleChange(3);">
                  <label class="form-check-label" for="">
                    YES
                  </label>
                  <div>
                    <textarea placeholder='Additional info ' maxlength='1' minlength='1' class="form-control"
                      name="Add_info" id="otherval" value="" style="display: none;"></textarea>
                  </div>
    
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Add_info" id="Add_info" onchange="handleChange(2) ;">
                  <label class="form-check-label" for="">
                    NO
                  </label>
                </div>
    
                <hr>
                <h3>Age of property</h3>
    
                <div class="col-md-2">
                  <input type="month" value="" id="ageBulding" onchange="ageBuld(value)" />
    
                  <h3 id="result"></h3>
                </div>
    
                <br>
                <br>
                <h3>Willing to rent out to</h3>
                <div class="col-md-8">
                  <input class="form-check-input" type="checkbox" name="Willing[]" id="Willing1" value="Family" checked>
                  <label class="form-check-label" for="">
                    Family
                  </label>
                  <div class="vl"></div>
                  <input class="form-check-input" type="checkbox" name="Willing[]" id="Willing2" value="Single" checked>
                  <label class="form-check-label" for="">
                    Single
                  </label>
                  <div class="vl"></div>
                  <input class="form-check-input" type="checkbox" name="Willing[]" id="Willing3" value="Single Womain"
                    checked>
                  <label class="form-check-label" for="">
                    Single Womain
                  </label>
                  <div class="vl"></div>
                  <input class="form-check-input" type="checkbox" name="Willing[]" id="Willing4" value="Non vegetarian"
                    checked>
                  <label class="form-check-label" for="">
                    Non vegetarian
                  </label>
                  <div class="vl"></div>
                  <input class="form-check-input" type="checkbox" name="Willing[]" id="Willing5" value="Pets" checked>
                  <label class="form-check-label" for="">
                    Pets
                  </label>
    
                </div>
                <br>
                <br>
                <hr>
                <h3>Available from</h3>
                <div class="col-md-2">
                  <input type="date" id="Available" name="Available">
                </div>
                <br>
                <hr>
                <br>
                <h3>Add photos of your property</h3>
                <div class="mb-3">
                  <label for="" class="form-label">(Multiple photos input) for better result please upload at least 4
                    pictures. </label>
                  <input class="form-control" type="file" id="files" multiple name="files" placeholder="pictures">
                  <p>Max-size 1MB, Max-inputs 10 picture</p><!--onchange="photodiv()"-->
                </div>
    
                <div id="preview"></div>
                <hr>
    
    
    
                <div class="md-6">
                  <button type="submit" class="btn btn-warning  btn-lg">Submit</button>
    
    
                </div>
    
    
    
    
              </form>
            </div>
          </div>
          <!--property entry end-->
    
    
        </div><!--id="content"end-->
        <%- include('partials/foot') -%>
          <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
      </div><!--class="d-flex flex-column" id="content-wrapper" end-->
    </div><!-- </div> id="wrapper"end -->
    <script src="/js/prop.js"></script>
    <script src="/js/maainmenus.js"></script>
    <script src="/js/modal_apna.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" 
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>-->    
    <script src="/js/chart.min.js"></script>
    <script src="/js/bs-init.js"></script>
    <script src="/js/theme.js"></script>

  </body>

  </html>