<%- include('partials/head') -%>

  <body id="page-top">
    <div id="preloader">
      <center><img src="../uploads/imag_loader.gif" alt=""></center>
    </div>

    <div id="wrapper">

        <%- include('partials/nav') -%>
    


      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">


            <%- include('partials/navtop') -%>



            <!---start property table-->         
            <div class="container-fluid col-sm-11" id='propperty_table_main'style="display: block; padding-top:5rem;margin-left: 200px;" >
 
   
                <h1>Propperty_Table</h1>
                <div class="mb-3"><%- include('partials/messages') -%></div>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
        
                      
                      <th>prop_apnt_id</th>
                      <th>Phone no </th>
                      <th>Titel</th>
                      <th>Approved By</th>
                      <th>Status</th>
                      <th>Live</th>
                      
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                     
                      <th>prop_apnt_id</th>
                      <th>Phone no</th>
                      <th>Title</th>
                      <th>Approved By</th>
                      <th>Status</th>
                      <th>Live</th>
                    </tr>
                  </tfoot> 
                  <tbody>
                   <%let l=-1%>
                      <% allprop.forEach((allprop)=> { %>
                       <%                   
                         ++l
                         l
                       
                         %>
                         <%=l%>
                            <tr>
                             
                              <td>
                                APNTL.<%= allprop.atlprop_id %>
                              </td>
                              <td>                                
                                <%=allprop.users.Phone%>                                
                              </td>
                              <td>
                              <% if(allprop.Bedrooms > 1) { %> <%=allprop.Bedrooms%> <% }%><% if(allprop.Bedrooms > 1) { %> BHK <% }%>  <%= allprop.prop_kind %>&nbsp;<%= allprop.prop_type %>&nbsp;<br>For rent,&nbsp;Rs<%= allprop.rent %> per month.
                              </td> 
                             <td>
                               <%= allprop.approved_by %>
                             </td>
                             <td>
                               <%= allprop.status %>
                             </td>
                             <td>
                               <%= allprop.live %>
                             </td>
                           
                              
                            
                           
                            </tr>
                            
                            <% }) %>
        
        
                  </tbody>
                </table>
              </div>
              <!---end property table-->
        




          





          
    
    
    
          
    
    
        </div><!--id="content"end-->
        <%- include('partials/foot') -%>
          <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
      </div><!--class="d-flex flex-column" id="content-wrapper" end-->
    </div><!-- </div> id="wrapper"end -->
    <script src="/js/prop.js"></script>
    <script src="/js/maainmenus.js"></script>
    <script src="/js/modal_apna.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" 
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>-->    
    <script src="/js/chart.min.js"></script>
    <script src="/js/bs-init.js"></script>
    <script src="/js/theme.js"></script>

  </body>

  </html>